@namespace NutrisBlazor.Components.Shared
<link href="css/loading.css" rel="stylesheet" />
<div class="loading-overlay">
    <div class="loading-container">
        <div class="spinner-wrapper">
            <div class="spinner-circle"></div>
            <img src="@ImageSrc" alt="Loading" class="center-logo" />
        </div>
        <p class="loading-text mt-3">@LoadingText</p>
    </div>
</div>



@code {
    [Parameter] public string LoadingText { get; set; } = "Cargando Datos, por favor espere...";
    [Parameter] public string ImageSrc { get; set; } = "/img/logo-nutris.png"; // Ajusta la ruta de tu logo
}